 .u-section-1 {
  background-image: url("images/4k-nature-foggy-hills-dk9wch1pbiulwc3w.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  margin: 60px auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 595px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/RobloxScreenShot20230709_215424508.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 132px auto 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 800;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 190px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 120px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 332px;
}

.u-section-3 .u-image-1 {
  width: 130px;
  height: 130px;
  margin: 60px auto 0 60px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: -130px 60px 0 213px;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  margin: 22px 60px 0 213px;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 800;
  margin: 23px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-right: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-left: 160px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 160px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 101px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 101px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 332px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  margin: 69px 213px 0 60px;
}

.u-section-4 .u-image-1 {
  width: 130px;
  height: 130px;
  margin: -52px 60px 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  margin: -56px 213px 0 60px;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 800;
  margin: 22px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 73px;
    margin-left: 213px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-right: 73px;
    margin-left: 213px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 160px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 160px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-left: 101px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 101px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 332px;
}

.u-section-5 .u-image-1 {
  width: 130px;
  height: 130px;
  margin: 60px auto 0 60px;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  margin: -130px 60px 0 213px;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  margin: 22px 60px 0 213px;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 800;
  margin: 23px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-right: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-top: 20px;
    margin-left: 160px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 160px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-left: 101px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 101px;
  }
}