body, html {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.5s ease-in-out;
}

#loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
}

#loading-spinner img {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

header {
    background-color: #242424;
    padding: 0;
    padding-left: 20%;
    padding-right: 20%;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1  ;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
}

.burger-menu {
    display: none;
}

.nav-links {
    flex-direction: row;
}

.nav-links li {
    margin: 0 15px;
}

.features {
    padding: 50px 20%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
    color: #fff;
}

.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #eee;
}

  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #242424;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #afafaf;
    padding: 10px;
    display: block;
  }
  
  .dropdown-content a:hover {
    color: #747474;
    transition: .5s;}
  
  .dropdown:hover .dropdown-content {display: block;}


.div1 {
    height: 600px;
}

.grid-container {
    display: grid;
    top: 200px;
    justify-content: center;
    column-gap: 50px;
    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: 200px;
    grid-column-gap: 50px;
    padding: 0;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    text-align: center;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
    background-color: #fff;
}

.feature {
    text-align: center;
    max-width: 300px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0;
}

.listtext {
    color: #afafaf;
    
}



.listtext:hover {
    color: #747474;
    transition: .5s;
}

.selector {
    margin: 0px;
    color: #ffffff;
    transition: 0.5s;
    font-size: 20px;
}

.selector:hover {
    color: #007baf;
    transition: 0.5s;
}

.bg {
    background-size: cover;
    background-repeat: no-repeat;
    height: 50%;
    /* Set a default background image or color here */
    background-image: url("images/backgrounds/eyes0.png");
    background-position: center;
}

.socialgrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.socialdiv {
    height: 100vh;
    padding-top: 100px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.gamescontainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.gamesdiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.gridgame-item {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.grid-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.grid-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-text {
    color: white;
    font-size: 30px;
    size: 50%;
    margin: 0px;
    margin-bottom: 10px;
    top:20%;
}

.grid-button {
    font-size: 20px;
}

.grid-button:hover {
    color: #007baf;
    transition: 0.5s;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #242424;
}

::-webkit-scrollbar-thumb {
    background: #3f3f3f;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Medium screens (tablets) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    header {
        background-color: #242424;
        padding: 0px;
        padding-left: 20%;
        padding-right: 20%;
        position: fixed;
        top: 0;
        width: 100%;
        box-sizing: border-box;
    }

    .burger-menu {
        display: none;
    }

    .nav-links {
        flex-direction: row;
    }

    .nav-links li {
        margin: 0 10px;
    }

    .gamesdiv {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 30px;
        text-align: center;
    }
}

/* Mobile screens */
@media screen and (max-width: 768px) {
    header {
        padding: 10px;
        padding-left: 20%;
        padding-right: 20%;
        position: fixed;
        top: 0;
        width: 100%;
        box-sizing: border-box;
    }

    .nav-links {
        flex-direction: column;
        display: none;
        position: absolute;
        top: 30px;
        right: 0;
        background-color: #242424;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        z-index: 1;
    }

    .nav-links.show {
        display: flex;
        opacity: 1;
        z-index: 1;
    }

    .nav-links li {
        margin: 10px 0;
        z-index: 1;
    }

    .burger-menu {
        display: block;
        cursor: pointer;
        z-index: 20;
    }

    .grid-container {
        display: grid;
        top: 20%;
        grid-template-columns: 60vw;
        grid-template-rows: repeat(3, 70%);
        grid-column-gap: 0px;
        grid-row-gap: 20px;
        padding: 0;
        justify-content: center;
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 30px;
        text-align: center;
    }

    .socialdiv {
        height: 100vh;
        padding-top: 100px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: auto;
    }

    .socialgrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .gamesdiv {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;
    }

    .div1 {
        height: 100vh;
    }

    .grid-text {
        color: white;
        font-size: 20px;
        size: 100%;
        margin: 0px;
        margin-bottom: 10px;
    }

    .dropdown:hover .dropdown-content {
        display: none;
    }
}